@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


html{
    overflow-x: hidden;
}

body{
    font-family: Montserrat;
    font-weight: 500;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .2s;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    transition: .2s;
}


.container{
    margin:0 ,  auto;
    margin-top: 5rem;
    width: 100%;
    max-width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    overflow: hidden;
}

.card{
    height: 300px;
    display: flex;
    background: #E3F8FF;
    box-shadow: rgba(0, 0, 0, 0.20) 0 2px 10px;
    border-radius: 1rem;
    transition: .2s;
    overflow: hidden;
    gap: 10px;
}

.card__slider{
    background: #222222;
    width: 0;
    height: 100%;
    color: #63A0FC;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.card__slider h3{
    writing-mode:vertical-rl;
}

.card:hover .card__slider{
    width: 100%;
}

.card__inside{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card:hover .card__top img{
    transform: rotate(20deg);
}

.card .card__top{
    width: 100%;
}

.card__top img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card__bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.card:hover .card__bottom{
    margin-top: 30px;
}

.card__bottom i{
    font-size: 26px;
    color: #63A0FC;
}

.card__bottom i:hover{
    color: coral;
    cursor: pointer;
}

.card__bottom .prize p{
    margin: 6px 0;
}

.card__bottom .prize p:nth-child(1){
    color: red;
    text-decoration: line-through;
}

.card__bottom .prize p:nth-child(2){
    font-weight: bold;
}

.creator{
    font-weight: bold;
    margin-top: 3rem;
}